<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PayLater Form</title>
</head>
<body>
    <nav id="b">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/paylater">PayLater</a></li>
            <li><a href="/transactions">Transactions</a></li>
        </ul>
    </nav>
    <header>
        <h1>PayLater Form</h1>
    </header>
    <section>
        <form id="paylater-form">
            <input type="text" id="merchant" name="merchant" placeholder="Merchant Name" required><br>
            <input type="text" id="customer" name="customer" placeholder="Customer Name" required><br>
            <input type="number" id="amount" name="amount" placeholder="Amount" required><br>
            <button type="submit">Submit</button>
        </form>
    </section>
    <footer>
        <p>&copy; Our's PayLater Service | All rights reserved by our team</p>
    </footer>
</body>
</html>
